.bottom_10 {
    margin-bottom: 10px;    
}

.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
  }

.btn-reserva {
    width: 100%;
    background-color: green;
    color: white;    
}

.footer {
    padding: 10px 10px 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.footer-address-icon {
    padding-right: 10px;
}

.jumbotron {
    background-color: red;
    color: yellow;
}
  
.libro {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.libros {
    width: 100%;
    height: 300px;
}

.ml-2 {
    border: 1px solid grey;
}

.rebaja {
    text-decoration:line-through;
    color: red;
}